################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Delimited.Data.Tests/obj/Debug
/Delimited.Data.Tools/obj/Debug
/TestResults/048d339d-5148-41d1-bc52-1a4365a3c1ff
/TestResults/6d53e326-91c5-48fa-bd46-c796ef8bd198
/TestResults/9a6cd66f-7300-46d0-b749-f79e77ef8d0e
/TestResults/dc52710c-c737-4e44-bace-db9cc9058d22
/TestResults/e1afc0d4-2e94-4475-a2ee-653d974c02ab
/Delimited.Data/obj/Debug
/Delimited.Data.Specializations/obj/Debug
/DelimitedCodeGenerator/obj/Debug
/DelimitedCodeGeneratorTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DelimitedCodeGeneratorTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DelimitedCodeGeneratorTests/obj/Debug
/Delimited.Data/Delimited.Data.csproj.user
/packages/PowerArgs.2.0.6.1/lib/net40
/packages/PowerArgs.2.0.6.1/PowerArgs.2.0.6.1.nupkg
/TestResults
/Delimited.Data.Specializations/bin/Debug
/Delimited.Data.Tests/bin/Debug
/Delimited.Data.Tools/bin/Debug
/DelimitedCodeGenerator/bin/Debug
/DelimitedCodeGeneratorTests/bin/Debug
/packages
/Delimited.Data/bin/Debug
/DelimitedCodeGenerator/*.user
